h1 {
    color: red;
}

h3 {
    font-style: italic;
}

img {
    padding: 5%;
}

.content {
    text-align: center;
}

ul {
    text-align: center;
}

.parent {
    text-align: center;
}

.parent > ul {
    display: inline-block;
    list-style: inside;
}